
body.html {
  margin:0;
}
.App {

  display: flex;
  flex-direction: column;
  background-size: contain;
  margin: 2em orange ;
  padding: 1em ;
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color:orange;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url("https://fsa.zobj.net/crop.php?r=PhZYZNmjIaPGktgnvt2Fe8QTuDbNmQzD9C8fLIk3ZylUCwjQ_to3Y43NkknCzVYOXdYOoaF5dEaYM84CigzEFTOPbKMOP8qjETSUqS3KrwOSqsx6l4JWXKrrdrRsFMyaGRqgjpwUNlaGuXxA");
  border: 2px solid orange;
}


.song {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2em;
  padding: 1em;
  flex-wrap: wrap;
}
.title{
  flex-direction: column;
  font-size:35px;
  text-size-adjust: 40px;
  margin-bottom: 60px;
}

.image {
border: 2px solid orange;
background: orange;
width: 250px;
align-items: center;
height: 250px;
}

.description {
color:orange;
justify-content: space-evenly;
font-family:'Times New Roman', Times, serif;
font-size: 25px;

}

.SearchBar {
  margin: 1em;
  padding: 2em;
  font-size: 15px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background:aquamarine;
  width:100%;
}

.App-logo {
  height: 40px;
}

.App-link {
  color: orange;
}

.Active{
  background-color: orange;
}

.link{
  display: inline-block;
  padding: 100px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 25px;
  color:black;
  width: 250px;
  padding: 15px 32px;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  height:auto;
  background: black;
  border: 2px orange;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  display: block;
}

.link a {
  text-decoration: none;
  color: aquamarine;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 100px;
}



.link:hover {
  background-color:red; 
  color: black;
}